* {
  margin: 0;
  padding: 0;
  font-family: Helevica, Arial, sans-serif;
  text-decoration: unset;
  list-style: none;
}

.main-content {
  position: relative;
  background-color: rgb(225, 224, 224);
}

.sign_out_btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.title {
  text-align: center;
}

.empty-display {
  text-align: center;
}

.users-list {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  gap: 1vw;
  list-style: none;
  padding: 1vw 0 1vw 0;
}

.sign-block {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
}

.user-details {
  display: flex;
  gap: 1vw;
}

.image-box {
  border: 1px solid black;
  width: 10vw;
  height: 15vh;
}

.details-box {
  border: 1px solid black;
  width: 20vw;
  height: 15vh;
  position: relative;
  color: black;
}

.details-box p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.li-box {
  border: 1px solid black;
  padding: 10px;
}

.button {
  color: blue;
}
